<div class="container-fluid">
  <input type="search" [formControl]="searchForm">
  <button (click)="getPlaces()">Search</button>

  <div *ngIf="responseData" class="row">
    <div class="col-2"></div>
    <div class="col-8 table-responsive text-center">
      <table class="table table-hover text-center">
        <thead>
        <tr>
          <th>Place Name</th>
          <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of responseData" (click)="getPlaceData(data.xid)">
          <td>{{data.name}}</td>
          <td>{{data.rate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col text-center">
      <h3>{{displayData.name}}</h3>
      <img *ngIf="displayData.preview" src="{{displayData.preview.source}}">
    </div>
  </div>

</div>
